.table-location {
  padding: 10px;
}

.nav-item {
color: rgb(109, 146, 160);
text-decoration: none;
font-size: 1.1em;
padding: 10px;
transition: 0.5s;
margin-right: 45px;
}

.nav-item:hover {
cursor: pointer;
color: white;
text-decoration: underline;
}

.cookies {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 175px;
  margin-right: 15px;
  padding: 50px; 
  text-align: center;
}

.circle {
border-radius: 50%;
width: 100px;
height: 100px;
background-color: yellow;
margin: 50px;
}

.input {
margin: 5px;
padding: 5px;
}

.input:focus {
outline: none;
}

.home-photos { 
width: 30%;
margin: 15px;
height: 280px;
}

#nav-salmon { 
  width: 10%;
}

#nav-chinook {
width: 10%;
}

#main-header,
#main-nav {
  display: flex;
}

#main-header {
margin-top: 20px;
justify-content: space-between;
border-bottom: 1px solid white;
padding-bottom: 20px;
}

#color-circles {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

#submit-button {
background-color: transparent;
color: white;
text-align: center;
position: absolute;
top: 115px;
left: 300px;
padding: 20px;
width: 120px;
transition: 0.5s;
}

#submit-button:hover {
cursor: pointer;
background-color: white;
color: black;
}

#greeting-container>p,
#apparel-container>p {
line-height: 30px;  
}

#multiple-fish {
height: 280px;
}

#frosted-cookies {
border-radius: 50%; 
transition: 1s;
}

#frosted-cookies:hover {
transform: rotate(360deg);
}

#color-form,
#chart-choice {
text-align: center;
}

#radio-container,
#chart-choice {
padding: 20px;
width: 30%;
margin: 0 auto;
}

#radio-container>input {
margin-right: 10px;
}

.lineChart {
display: none;
}