@media (min-width: 768px) {
  #greeting-container,
  #apparel-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.home-photos {
  width: 30%;
}

h1 {
  text-align: center;
}
}

@media (min-width: 900px) {
  #chart-container {
    width: 30%;
  }
}