* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #14303c;
    color: rgb(109, 146, 160);
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-decoration: underline;
}

li {
    font-family: Verdana, Helvetica, Tahoma, sans-serif;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse; 
}

td {
    text-align: center;
    border: 1px solid white;
}

th {
    padding: 10px;
}

label {
    display: inline;
}

.table-location {
    padding: 10px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;
}

#navbar>a {
        text-decoration: none;
        font-size: 1.1em;
        transition: 0.5s;
}

#navbar>a:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

#img-wrap {
    margin: 0 auto;
    margin-top: 175px;
    width: 50%;
}

.cookies {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 175px;
    margin-right: 15px;
    padding: 50px; 
    text-align: center;
}
    
#input-container {
    display: flex;
    position: relative;
    padding: 20px;
    width: 50%;
    margin: 0 auto;
}

.input {
    margin: 5px;
    padding: 5px;
}

#submit-button {
    text-align: center;
    position: absolute;
    top: 115px;
    left: 300px;
    padding: 20px;
    width: 120px;
    transition: 0.5s;
}

#submit-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

